<aside id="aside">
  <div class="logo-area">
    <div class="logo">
      <div class="blue-arrow">
        <hr class="dashed">
        <div href="#" class="right">
          <img src="images/arrow-right.svg">
        </div>
      </div>
      <img class="logo-img" src="images/logo.svg">
      <div class="green-arrow">
        <hr class="dashed">
        <div class="top">
          <img src="images/arrow-top.svg">
        </div>
      </div>
    </div>
  </div>
  <div class="output-area">
    <span>
      <p>This Step has no input.<p>
      <p>It can only generate output based on the scanning of a document.<p>
    </span>
  </div>
</aside>
