*:focus {
    outline: none;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid $color-dark;
  color: $color-dark;
  border-radius: 4px;
  margin: 4px;
}

.btn-trans{
  background-color: #ffffff;
  border: none;
}

.btn-default {
  background-color: $color-main;
  color: $color-blue;
}

.btn-default:hover {
  background-color: $color-blue;
  color: $color-main;
  transition: all 1s ease;
}

.form-group{
  label{
    display: block;
    margin: 4px;
    text-transform: uppercase;
  }
  input.form-control{
    border: 1px solid $color-dark;
    color: $color-darker;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    margin: 4px;
    padding: 10px 20px;
    opacity: 1;
    box-sizing: border-box;
  }
  input.form-control:focus{
    border: 1px solid $color-blue;
    transition: all 1s ease;
  }
}

#filedrag{
  background-color: $color-light;
  border: 1px solid $color-dark;
	display: none;
	text-align: center;
	padding: 3em 1em;
	border-radius: 4px;
	cursor: default;

  p{
    text-transform: uppercase;
    margin: 2px 0;
  }
}

#filedrag.hover
{
  background-color: $color-dark;
}

.custom-file-upload {
    color: $color-blue;
    display: inline-block;
    padding: 4px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;

    input[type="file"] {
        display: none;
    }
}
